services:
  watchtower:
    image: ghcr.io/nicholas-fedor/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WATCHTOWER_CLEANUP=true
      - WATCHTOWER_POLL_INTERVAL=86400
      - DOCKER_MIN_API_VERSION=1.24
    restart: unless-stopped
