services:
  caddy:
    image: caddybuilds/caddy-cloudflare:latest
    container_name: caddy
    network_mode: host
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config

volumes:
  caddy_data:
  caddy_config:
