apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://<NAS_IP>:9090
    isDefault: true
    editable: false

  - name: Loki
    type: loki
    access: proxy
    url: http://<NAS_IP>:3100
    editable: false
